    {% extends 'base.html' %}{% block title %} {{ store_obj.name }} | Products for sale {% endblock %}
    {% block content %}
    <main>
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url({{store_obj.cover_photo.url}});">
            <div class="container position-relative d-flex flex-column align-items-center">
                <h2>{{ store_obj.name|title }}</h2>
                <h4 class="text-white">Sells {{ store_obj.services }}</h4>    
            </div>
        </div>
        <div class="py-5 bg-body-tertiary">
            <div class="container">
                <div class="row g-3">
                    {% for item in products_on_sale %}
                    <div id="retail-stores" class="col-md-4">
                        <div class="card shadow-sm">
                            <img src="{{ item.img_file.url }}" height="220px" alt="store">
                            <div class="card-body">
                                <h3 class="card-title text-secondary mb-0 pb-0">{{ item.product|truncatewords:4 }}</h3>
                                <p class="card-text py-2">{{ item.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-body-secondary"><i class="bi-cash-coin" style="color: #0a9233; font-size: 22px;"></i> {{ item.price|floatformat:"2g" }}</small>
                                    <a href="{% url 'add_to_cart' item.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                </div>
                {% if similar_products %}
                <div class="row">
                    <div class="section-header mb-5">
                        <h2 class="text-center">Similar products</h2>
                    </div>
                    {% for item in similar_products %}
                    <div id="retail-stores" class="col-md-4">
                        <div class="card shadow-sm">
                            <img src="{{ item.img_file.url }}" height="220px" alt="store">
                            <div class="card-body">
                                <h3 class="card-title text-secondary mb-0 pb-2">{{ item.product|truncatewords:4 }}</h3>
                                {% if item.seller.rating == 1 %}
                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i>
                                {% elif item.seller.rating == 2 %}
                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i>
                                {% elif item.seller.rating == 3 %}
                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star"></i><i class="bi-star"></i>
                                {% elif item.seller.rating == 4 %}
                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star"></i>
                                {% elif item.seller.rating == 5 %}
                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i>
                                {% else %}
                                <i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i>
                                {% endif %}
                                <div class="d-flex justify-content-between align-items-center pt-4">
                                    <small class="text-body-secondary"><i class="bi-cash-coin" style="color: #0a9233; font-size: 22px;"></i> {{ item.price|floatformat:"2g" }}</small>
                                    <a href="{% url 'add_to_cart' item.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    {% endblock %}