{% extends 'stores/base.html' %}{% block title %}Register Retail Store{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="container mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-sm-3">
                    <form action="" method="post" class="card card-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 class="card-title text-center">Register your retail store</h3>
                                {{RetailStoreRegistrationForm|crispy}}
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-outline-success">Register</button><hr>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>