    {% load static %}
    <title>Soko | {% block title %}{% endblock %}</title>
    <link href="{% static 'img/favicon/cart2.png' %}" rel="icon">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <header id="header" class="header navbar-dark bg-dark fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="{% url 'dashboard' store_obj.id %}" class="logo d-flex align-items-center">
                <span class="d-none d-lg-block">Company name</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ request.user.profile_pic.url }}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user.username|title}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{request.user.username|title}}</h6>
                            <span>{{ request.user.username }}</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'user_profile' %}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'user_profile' %}">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'logout_user' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    
    <aside id="sidebar" class="sidebar navbar-dark bg-dark">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'dashboard' store_obj.id %}">
                    <i class="bi-grid-1x2-fill"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="bi-cart-plus-fill"></i><span>Orders</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="bi-box-fill"></i><span>Products</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="bi-people-fill"></i><span>Customers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="bi-graph-up-arrow"></i><span>Reports</span>
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-heading text-white">Pages</li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_store' store_obj.id %}">
                    <i class="bi-person-bounding-box"></i>
                    <span>Store details</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_user' %}">
                    <i class="bi-door-open-fill"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </aside>

    {% block content %}
    {% endblock %}
    
    <footer class="footer">
        <div class="copyright">
            <strong>&copy; 2023<span> Soko</span> | ALL RIGHTS RESERVED.</strong>
        </div>
    </footer>
    <div id="preloader"></div>
    <a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi-arrow-up-short"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
