{% extends 'dashboard/base.html' %}{% block title %}Store details{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section profile">
			<div class="row">
				<div class="col-xl-4">
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
							<img src="{{request.user.profile_pic.url}}" alt="Profile" class="rounded-circle">
							<h2>{{ request.user.username|title }}</h2>
							<h3>{{ request.user.gender|default:" -- " }} | {{ request.user.country|default:" -- " }}</h3>
						</div>
					</div>

				</div>

				<div class="col-xl-8">
					<div class="card">
						<div class="card-body pt-3">
							<ul class="nav nav-tabs nav-tabs-bordered">
								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#retail-store-overview">Overview</button>
								</li>
								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#edit-store-info">Edit store details</button>
								</li>
							</ul>
							<div class="tab-content pt-2">
								{% include 'messages.html' %}
								<div class="tab-pane fade show active profile-overview" id="retail-store-overview">
									<h5 class="card-title">Retail Store Details</h5>
                                    <p class="small fst-italic">{{ store_obj.description }}</p>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Retail store name</div>
										<div class="col-lg-9 col-md-8">{{ store_obj.name|title }}</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Owner</div>
										<div class="col-lg-9 col-md-8">{{ store_obj.owner.first_name|title|default:" -- " }} {{ store_obj.owner.last_name|title|default:" " }}</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Services</div>
										<div class="col-lg-9 col-md-8">{{ store_obj.services|default:" -- " }}</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Rating</div>
										<div class="col-lg-9 col-md-8">
                                            {% if store_obj.rating == 1 %}
                                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i>
                                            {% elif store_obj.rating == 2 %}
                                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i>
                                            {% elif store_obj.rating == 3 %}
                                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star"></i><i class="bi-star"></i>
                                            {% elif store_obj.rating == 4 %}
                                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star"></i>
                                            {% elif store_obj.rating == 5 %}
                                                <i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i><i class="bi-star-fill" style="color: #ffc107;"></i>
                                            {% else %}
                                                <i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i><i class="bi-star"></i>
                                            {% endif %}
                                        </div>
									</div>
									<div class="row">
										<div class="col-lg-9 col-md-8"></div>
									</div>
								</div>
								
								<div class="tab-pane fade profile-edit pt-3" id="edit-store-info">
									<form action="" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										<div class="row mb-3">
											<label for="image" class="col-md-4 col-lg-3 col-form-label">Retail store image</label>
											<div class="col-md-8 col-lg-9">
												<img src="{{ store_obj.image.url }}" alt="Profile">
											</div>
										</div>
										<div class="row mb-2">
											<div class="col-md-8 col-lg-12">
												{{ EditStoreInfoForm|crispy }}
												<hr>
											</div>
										</div>
										<div class="text-center d-grid gap-2">
											<button type="submit" class="btn btn-outline-primary">Save Changes</button>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>