    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Soko | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header data-bs-theme="dark">
            <div class="collapse text-bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4>About</h4>
                            <p class="text-body-secondary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta deserunt, suscipit, vitae fugit eveniet alias odio ipsam laboriosam similique beatae dolore accusamus, culpa aliquid consectetur ullam libero deleniti doloribus?
                            </p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4>Quick links</h4>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'login' %}" class="text-white"><i class="bi-door-closed-fill"></i> Login</a></li>
                                <li><a href="{% url 'signup' %}" class="text-white"><i class="bi-person-fill-add"></i> Sign up</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'user_profile' %}" class="text-white"><i class="bi-person-circle"></i> Profile</a></li>
                                <li><a href="{% url 'logout_user' %}" class="text-white"><i class="bi-door-open-fill"></i> Logout</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a href="" class="navbar-brand d-flex align-items-center">
                        <strong><i class="bi-cart-check-fill"></i> Soko</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi-arrow-up-short"></i></a>
        <footer>

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <script src="{% static 'js/main.js' %}"></script>
    </body>
    </html>