    {% extends 'base.html' %}
    {% block title %}Login{% endblock %}
    {% load crispy_forms_tags %}
    {% block content %}
    <main class="form-container">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="" method="post" class="card card-body p-4">
                        {% csrf_token %}
                        <div class="row">
                            <h2 class="card-title text-center">Login to your account</h2>
                            <div class="col-md-12">
                                {% include 'messages.html' %}
                                {{ form|crispy }}
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-outline-secondary mt-3">Login</button>
                                    <hr>
                                    <h6 class="small text-center"><a href="">Forgot password?</a></h6>
                                    <h6 class="small text-center">Don't have an account? <a href="{% url 'signup' %}">Signup</a></h6>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}