    {% extends 'base.html' %}
    {% block title %}Signup{% endblock %}
    {% block head %}
    {{ wizard.form.media }}
    {% endblock %}
    {% load crispy_forms_tags %}
    {% block content %}
    <main class="form-container">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="" method="post" class="card card-body p-4">
                        {% csrf_token %}
                        <div class="row">
                            <h3 class="card-title text-center">Create account</h3>
                            <div class="col-md-12">
                                <p class="text-center fst-italic">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                                {{ wizard.management_form }}
                                {% if wizard.form.forms %}
                                    {{ wizard.form.management_form }}
                                    {% for form in wizard.form.forms %}
                                        {{ form|crispy }}
                                    {% endfor %}
                                {% else %}
                                    {{ wizard.form|crispy }}
                                {% endif %}
                                <hr>
                                <div class="d-flex justify-content-between align-items-center">
                                {% if wizard.steps.prev %}
                                        <button class="btn btn-sm btn-outline-secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back</button>
                                {% endif %}
                                <button type="submit" class="btn btn-outline-success">Signup</button>
                                </div>
                                <h6 class="small text-center mt-2">Already registered? <a href="{% url 'login' %}">Login</a></h6>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}