{% extends 'stores/dashboard/base.html' %}{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section dashboard">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="card">
						<div class="card-body w-100 pt-3 vertical-tabs">
                            <div class="d-flex align-items-start">
                                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link active" id="v-pills-stocks-tab" data-bs-toggle="pill" data-bs-target="#v-pills-stock-records" type="button" role="tab" aria-controls="v-pills-stock-records" aria-selected="true">
                                        Stock records
                                    </button>
                                    <button class="nav-link" id="v-pills-add-product-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-record" type="button" role="tab" aria-controls="v-pills-add-product" aria-selected="false">
                                        Add product/item
                                    </button>
                                </div>
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-stock-records" role="tabpanel" aria-labelledby="v-pills-stocks-tab">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% include 'messages.html' %}
                                                <h5 class="card-title">Branch records for retail store | <span>{{ store_obj.name }}</span></h5>
                                                <div class="table-responsive">
                                                    <table class="table table-responsive w-100 table-bordered table-striped">
                                                        <thead>
                                                            <tr class="table-active">
                                                                <th>Image</th>
                                                                <th>Item</th>
                                                                <th>Quantity</th>
                                                                <th>Price</th>
                                                                <th>Cost</th>
                                                                <th>In stock</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in items %}
                                                            <tr>
                                                                <td class="text-center">
                                                                    <img class="rounded img-fluid" height="30px" width="100px" src="{{ item.img.url }}" alt="product-photo">
                                                                </td>
                                                                <td class="text-center">{{ item.item }}</td>
                                                                <td class="text-center">{{ item.quantity }}</td>
                                                                <td class="text-center">{{ item.price }}</td>
                                                                <td class="text-center">{{ item.cost }}</td>
                                                                <td class="text-center">
                                                                    {% if item.out_of_stock is False %}
                                                                    <i class="bi-check-circle-fill" style="color: #13bb46"></i>
                                                                    {% else %}
                                                                    <i class="x-circle-fill" style="color: #dc3534"></i>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-add-record" role="tabpanel" aria-labelledby="v-pills-add-product-tab">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form action="" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h5 class="card-text">Add items form</h5>
                                                            <h6 class="small fst-italic">Use this form to add new items to your stock record </h6>
                                                            {{ AddNewItemsToStockForm|crispy }}
                                                            <hr>
                                                            <div class="d-grid gap-2 mt-2">
                                                                <button type="submit" class="btn btn-outline-secondary">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html> 